<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by AJ De Groot under guidance of the "Firehose Project" course which guides students towards a career in Software Engineering.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'aj.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">AJ De Groot</h2>
      <br />
      <p> AJ De Groot is transitioning from Animation to Software Engineering and is currently a student.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear">
<br />
<br />
<br />
<br />